body {
	text-align: center;
	font-weight: 300;
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 40%
	}
	50% {
		background-position: 100% 60%
	}
	100% {
		background-position: 0% 40%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 40%
	}
	50% {
		background-position: 100% 60%
	}
	100% {
		background-position: 0% 40%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 40%
	}
	50% {
		background-position: 100% 60%
	}
	100% {
		background-position: 0% 40%
	}
}

#heading {
    font-family: 'Open Sans';
	font-weight: 300;
    color: #ffffff;
    font-size: 6em;
    padding: 20px;
}

input {
    font-family: 'Open Sans';
	font-weight: 300;
    margin-top: 20px;
	border-radius: 4px;
	min-width: 65%;
	padding: 5px;
	border: none;
}

ul {
	text-align: left;
	margin-top: 20px;
}

li {
    font-family: 'Open Sans';
	font-weight: 300;
	list-style: none;
	padding: 10px 20px;
	color: #ffffff;
	text-transform: capitalize;
	border: 1px solid rgba(194, 192, 192, 0.5);
	border-radius: 5px;
	margin-bottom: 5px;
	background: rgba(207, 207, 207, 0.2);
	transition: all 0.75s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5 ease;
}

li:hover {
	background: rgba(217, 215, 215, 0.45);
}

li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #23D5AB;
	font-weight: 800;
}

.btn-outline-primary {
	padding: 4px 15px;
	font-weight: normal;
}

.done {
    text-decoration: line-through;
	background: rgba(207, 207, 207, 0.01) !important;
	color: rgb(194, 192, 192);
}

.delete {
	display: none;
}
